---
import { Image } from 'astro:assets';
import {slugify, formateDate} from "../js/utils"

const {date, category, title, author, image} = Astro.props;

---

<header>
  <div class="container">
    <small>
      <a href={`/category/${slugify(category)}`} class="badge">{category}</a>
    </small>
    <h2>{title}</h2>
    <p>by <a href={`/author/${slugify(author)}`}>{author}</a>
    - {formateDate(date)}</p>
  </div>
  <Image src={image.src} alt={image.alt} width="1200" height="600" format='avif' quality="max" class="w-full h-96 aspect-video object-fill lg:md:sm:h-[500px]">
</header>